 nav.menu-lateral {
    width: 80px;
    height: 100%;
    background-color: #111;
    padding: 50px 0 40px 17px; 
    box-shadow: 3px 0 0 #78909c;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .5s;
}

nav.menu-lateral:hover {
    width: 300px;
}

.btn-expandir {
    width: 100%;
    padding-left: 10px;
} 

.btn-expandir > i {
    color: #fff;
    font-size: 24px;
    cursor: pointer;
} 

ul {
    height: 100%;
    list-style-type: none;
} 

ul li.item-menu{
    transition: .2s;
}

ul li.ativo{
    background-color: #78909c;
}

ul li.item-menu:hover {
    background: #78909c;
}

ul li.item-menu a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 30px;
} 

ul li.item-menu a .txt-link {
    margin-left: 70px;
    transition: 1s;
    opacity: 0;
}

nav.menu-lateral:hover .txt-link {
    margin-left: 40px;
    opacity: 1;
}

ul li.item-menu a .icon i {
    font-size: 30px;
    margin-left: 10px;
}
