* {
    padding: 0;
    margin: 0;
    font-size: 20px;
}

.menu-lateral {
    width: 150px;
    height: 20px;
    padding: 20px 0 40px 17px;
    position: fixed;
    overflow: hidden;
    transition: .5s;
    font-family: 'Geologica', sans-serif;
    color: #fff;
 }

button {
    background-color: transparent;
    border: none;
    color: #fff;
    margin: 10px 0 6px 20px;
    font-size: 200%;
}

.menu-lateral:hover {
     width: 300px;
     height: 100%;
     background-color: #000;
}

ul {
     height: 100%;
     list-style-type: none;
 }

ul li.item-menu {
     transition: .3s;
     border-top-left-radius: 20px;
     border-bottom-left-radius: 20px;
     border-top-right-radius: 20px;
     border-bottom-right-radius: -20px;
 }

 ul li.ativo {
     background: linear-gradient(to right, #78909c 1%, #000 70%)
 }

 ul li.item-menu:hover {
    background-color: blue;
}

 ul li.item-menu a {
     color: #fff;
     text-decoration: none;
     font-size: 20px;
     padding: 20px 4%;
     display: flex;
     margin-bottom: 20px;
     line-height: 30px;
 }

 ul li.item-menu a .txt-link {
     margin-left: 70px;
     transition: 1s;
}

 nav.menu-lateral:hover .txt-link {
     margin-left: 40px;
     opacity: 1;
 }

 ul li.item-menu a .icon i {
     font-size: 30px;
     margin-left: 10px;
 }

 @media screen and (max-width: 1024px) {

     nav .menu-lateral {
         z-index: 1;
     }

     .center {
         z-index: 0;
     }

     .elemento {
         z-index: -1;
     }

     nav.menu-lateral:active {

         width: 100%;
         height: 100%;
         background-color: transparent;
     }

 }