*{
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    background: linear-gradient( black,#124094, black);
}

/* logo */
.container {
    position: absolute;
    left: 94%;
}

.elemento {
    margin: 10px;
    width: 80px;
}

.principal {
    position: relative;
    top: 30%;
    margin:0;
    text-align:center;
    align-items: center;
    font-family: 'Geologica', sans-serif;
}

.escrita{
    font-size: 100%;
    color: white;
    background-image: linear-gradient(to right, #000000, rgb(0, 0, 0), #000000, #000000);  
    background-clip: text;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    color: black;
}

.descricao {
    color: white;
    font-size: 200%;
    padding: 60px;
    margin: -20px 0 0 0;
}