body {
    margin: 0;
    padding: 0;
    background-color: #000000;
}

.nosso-nome {
    text-align: auto;
    color: #FFFFFF;
    left: 50px;
    position: absolute;
    font-size: 40px;
    font-family: 'Inspiration', cursive;
}

.mapa {
    padding: 3em 0;
    background: linear-gradient(#FEFEFE, #888888);
}

.mapa-conteudo {
    width: 940px;
    margin: 0 auto;
}

.mapa p {
    margin: 0 0 2em;
    text-align: center;
}
