* {
    padding: 0;
    margin: 0;
    font-size: 20px;
}

body {
    background: linear-gradient(black, #062139, black);
    height: 100vh;
}

/* logo */
.container {
    float: right;
}

.elemento {
    margin: 10px;
    width: 80px;
}

.wrapper {
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
    margin: 50px;
}

.fale-conosco {
    width: 88%;
    text-align: center;
    color: white;
    font-size: 20px;
    border-radius: 20px;
    padding: 3%;
    background-color:#071A40;
}

.fale-conosco p {
    padding: 1%;
}

.titulo {
    font-size: 40px;
    color: rgb(144, 197, 228);
}

.mapa-conteudo {
    display: flex;
    justify-content: center;
}

iframe {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 88%;
    height: 350px;
}