* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    background-color: rgb(0, 0, 0);
}

/* logo */
.container {
    position: absolute;
    left: 94%;
}

.elemento {
    margin: 10px;
    width: 80px;
}









.div-fotos {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
}

.trabalhos {
    text-align: center;
    font-size: 25px;
    margin: 1em;
}

.polaroid {
    border-bottom: 60px solid rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgb(38, 36, 158), 0 6px 20px 0 rgb(65, 63, 63);
}

img {
    width: 70%;
}

div.container2 {
    padding: 10px 20px;
}


.descricao {
    color: #fcfcfc;
    margin: 3%;
}









/*.estudante-imagem {
    width: 330px;
    border-radius: 8px;
}

.estudante-nome {
    color: #FFFFFF;
    margin: 3%;
}

.estudante-icone {
    width: 24px;
}

.estudante-div {
    text-align: center;
    margin: 15%;
}

.estudante-todos {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 0%;
}*/