*{
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
    background-color: black;
}

.container {
    display: flex;
    justify-content: flex-end;
}

.elemento {
    position: fixed;
    width: 150px;
    height: 150px;
}