* {
    padding: 0;
    margin: 0;
    font-size: 20px;
}

body {
    background-color: black;
    height: 100vh;
}

/* logo */
.container {
    float: right;
}

.elemento {
    margin: 10px;
    width: 80px;
}

/*texto*/
.principal {
    display: inline-block;
    margin: 100px;
    text-align: center;
    align-items: center;
    font-family: 'Geologica', sans-serif;
}

.escrita{
    padding: 80px;
    border-radius: 350px 150px;
    background-color: #062a49;
    color: rgb(192, 213, 229);
    font-size: 40px;
}