body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.nosso-nome {
    text-align: auto;
    color: #FFFFFF;
    left: 50px;
    position: absolute;
    font-size: 40px;
    font-family: 'Inspiration', cursive;
}

.logo {
    position: relative;
    left: 1120px;
    top: -180px;
    width: 100px; 
    height: 100px; 
    
}

.entrada {
    margin: 180px 0 -400px 0;
    display: inline-block;
    position: relative;
}

.imagem {
    position: absolute;
    width: 330%;
    left: 320px;
    top: -49px;
    border-radius: 8px;
  
    
}

.ondaverde {
    position: absolute;
    width: 330%;
    left: 320px;
    top: 379px;
    border-radius: 8px;

}

.imgfotos {
    position: absolute;
    width: 330%;
    left: 320px;
    top: 810px;
    border-radius: 8px;
    

}

.cruzamentoimg {
    position: absolute;
    width: 330%;
    left: 810px;
    top: -49px;
    border-radius: 8px;

}

.sinalsimples {
    position: absolute;
    width: 330%;
    left: 810px;
    top: 379px;
    border-radius: 8px;

}

.imgfootos {
    position: absolute;
    width: 330%;
    left: 810px;
    top: 810px;
    border-radius: 8px;

}

.projetofoto {
    position: absolute;
    width: 330%;
    left: 1557px;
    top: -49px;
    border-radius: 8px;

}

.trabalhosiimg {
    position: absolute;
    width: 330%;
    left: 1557px;
    top: 379px;
    border-radius: 8px;

}
 
 





