* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    background-color: white;
}

.container {
    display: flex;
    justify-content: flex-end;
}

.elemento {
    position: fixed;
    width: 150px;
    height: 150px;
}

.polaroid {
    border-bottom: 60px solid white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img {
    width: 100%;
}

div.container2 {
    text-align: center;
    padding: 10px 20px;
}

.fotos {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 0%;
}

.descricao {
    color: #000;
    margin: 3%;
}

/*.estudante-imagem {
    width: 330px;
    border-radius: 8px;
}

.estudante-nome {
    color: #FFFFFF;
    margin: 3%;
}

.estudante-icone {
    width: 24px;
}

.estudante-div {
    text-align: center;
    margin: 15%;
}

.estudante-todos {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 0%;
}*/